[Desktop Entry]
Type=Application
Name=Session
Comment=Power off, logout restart
Icon=system-shutdown
TryExec=shutdown-dialog
Exec=shutdown-dialog
Categories=System
